@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #343434;
}

@theme inline {
  --font-sans: "Lato", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #9233c5;
  --color-heading: var(--foreground);
  --color-text: #797979;
  --color-card-background: #f0f0f5;
  --color-warning: #eaa74e;
  --color-danger: #db6060;
  --color-success: #3b7869;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
